*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@700&family=Roboto:wght@700&display=swap');

:root{
    /* Colores */
	--A:#033540;
	--B:#015366;
	--C:#63898C;
	--D:#A7D1D2;
	--E:#E0F4F5;
	
    /* FUENTES */
    --titulos: "Amiko", sans-serif; 
    --textos: "Roboto", sans-serif;
}

/* ANIMACIONES */

@keyframes navbar {
    0%{
        transform: translateX(100%);
    }
}

h1{
	font-family: var(--titulos);
}
p{
	font-family: var(--textos);
}
a{
    text-decoration: none;
    color: black;
}
ul, li{
    list-style:none;
}
body{
    min-height: 100vh;
}

/* NORMALIZE */

	body.dark {
		background-color: rgba(0, 0, 0, 0.911);
		transition: all 0.5s;
	}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 90px;
	padding: 10px 20px;
    background-color: var(--B);

	position: sticky;
	top: 0;
	width: 100%;
	z-index: 20;
}

.header-logo i{ 
	cursor: pointer;
	font-size: xx-large;
}

	header.dark{
		background-color: #000000;
	}

	header.dark i, header.dark h1{
		color: white;
		transition: all 0.5s;
	}

header h1, .navbar-list{
    display: none;
}

.navbar-list a{
	font-family: var(--textos);
	font-weight: 700;
}

.navbar-list li:hover{
	transform: translateY(-3px);
	transition: .4s;
}

.navbar-list a:hover{
	color: rgba(255, 255, 255, 0.897);
}

	.navbar-list.dark  a{
		color: #ffffff;
	}

	.navbar-list.dark a:hover{
		color: black;
	}

/* BOTON DE CAMBIO DE COLOR */

.color-change-button{
	background-color: #000000;
	color: white;

	padding: 5px 10px;
	margin-bottom: 1px;
	cursor: pointer;
	position: relative;

	font-weight: 700;

	border-radius: 50px;
	border: none;
	transition: all .5s;
}

	.color-change-button.dark {
		background-color: white;
		color: black;
	}

/* MENU HAMBURGUESA */
.bars-menu {
	font-size: 1.5rem;
	z-index: 10;
	position: relative;
}

#toggle-menu{
	display: none;
}

#toggle-menu:checked ~ .navbar-list{
	display: flex;
	flex-flow: column;
	row-gap: 25px;
	
	position: fixed;
	right: 0;
	top: 90px;
	z-index: 20;

	height: 25vh;
	padding: 25px;
	margin-right: 0;


	background-color:var(--D);
	border-radius: 0 0 0 20px;
    font-size: large;
	
	animation-name: navbar;
	animation-duration: 0.3s; 
}

/* DESCRIPCION */

.description{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	row-gap: 20px;

	width: 250px;
	margin: auto;
	margin-top: 20px;
	text-align: center;

	transition: all 0.5s;
}

	section.dark h1, section.dark p{
		color: white;
		transition: all 0.5s;
	}

/* CURSOS */

	.section-course.dark .course-card{
		color: white;
		background-color: #000000;

		transition: 0.2s;
	}

.course-card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;

	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 30px;

	background-color: var(--D);
	border: #015366 ;
	border-radius: 20px;

	transition: all 0.2s;
}

.course-card:hover{
	cursor: pointer;
	transform: translateY(-10px);
	transition: 0.2s;
}

.course-card img{
	width: 100%;
	height: 20vh;
	border-radius: 20px 20px 0 0;
	margin-bottom: 15px;
}

.course-desc h1{
	margin-bottom: 15px;

	transition: all 0.5s;
}

.course-desc p{
	margin-bottom: 15px;
	padding: 0 10px;

	transition: all 0.5s;
}

.buy{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 10px;

	font-family: var(--textos);
	font-size: larger;

	transition: all 0.2s;
}

.buy button{
	border: none;
    background:  var(--B);
    border-radius: 15px;
    padding: 10px 20px;
	font-weight: 700;
}

.buy button:hover{
	cursor: pointer;
	box-shadow: 0 0 20px #000000;
}

/* FOOTER */

.footer-container{
	width: 100%;
	margin-top: 50px;
	padding: 35px 30px 30px;
	background-color: rgba(0, 0, 0, 0.911);

	transition: all 0.5s;
}

.footer-ops{
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-ops a{
	background-color: white;

	padding: 15px;
	margin: 0 5%;

	border-radius: 50%;
}

.footer-ops a:hover{
	background-color: white;
	box-shadow: 0 0 10px var(--B);

	transform: translateY(-10px);
	transition: .2s;
}

.footer-ops i{
	font-size: 25px;
}

.footer-ops a:hover i{
	color: var(--A);

	transform: translateY(-3px);
	transition: .2s;
}


/* MEDIA QUERIES */

/* TABLET */

@media (min-width:481px)and (max-width:768px){
	.bars-menu {
		display: none;
	}

	.navbar-list{
		display: flex;
		column-gap: 20px;
		margin-right: 10px;
		font-size: medium;
	}

	header h1{
		display: block;
		font-size: x-large;
	}

	.logo-name{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 15px;
	}

	.course-card{
		width: 40%;
	}

	.section-course{
		width: 100%;
		display: flex;
		flex-flow: row wrap ;
	}
}

/* LAPTOP */

@media (min-width:769px)and (max-width:1279px){
	.bars-menu {
		display: none;
	}

	.navbar-list{
		display: flex;
		column-gap: 20px;
		margin-right: 10px;
		font-size: large;
	}

	header h1{
		display: block;
		font-size: xx-large;
	}

	.logo-name{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 15px;
	}

	.course-card{
		width: 27%;
	}

	.section-course{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		column-gap: 10px;
		row-gap: 40px;
	}
}

/* DEKTOP */

@media (min-width:1280px)and (max-width:1920px){
	.bars-menu {
		display: none;
	}

	.navbar-list{
		display: flex;
		column-gap: 40px;
		margin-right: 10px;
		font-size: larger;
	}

	header h1{
		display: block;
		font-size: xx-large;
	}

	.logo-name{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 15px;
	}

	.course-card{
		width: 20%;
	}

	.section-course{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		column-gap: 10px;
		row-gap: 40px;
	}
}

/* 4K */

@media (min-width:1921px)and (max-width:2560px){
	.bars-menu {
		display: none;
	}

	.navbar-list{
		display: flex;
		column-gap: 50px;
		margin-right: 10px;
		font-size: x-large;
	}

	header h1{
		display: block;
		font-size: xx-large;
	}

	.logo-name{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 15px;
	}

	.description{
		width: 400px;
		font-size: x-large;
	}

	.section-course{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		column-gap: 10px;
		row-gap: 40px;
	}

	.course-card{
		width: 20%;
	}

	.course-card img{
		height: 30vh;
	}

	.course-card h1{
		font-size: xx-large;
	}

	.course-card p{
		font-size: x-large;
	}

}